* {
    padding: 0;
    margin: 0;
  }

  body{
    font-family: 'Poppins', sans-serif;
  }

  input:focus, input.form-control:focus {

    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.headings{
    color: #3a444d;
    font-family: "Poppins",Sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
}

  /* Nav bar */
  .dropdown-toggle::after{
      content: none !important;
  }
  .navber ul li:hover ul{
      display: block;
  }
  .navbar{
    background-color: #002b4d;
  }
  .navbar .nav-link {
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 0 16px;
    display: block;
    position: relative;
    text-transform: uppercase;
    line-height: 50px;
    transition: all 0.1s linear;
  }
  .navbar .nav-link:hover{
      font-size: 15px;
    color: #e12a21
  }
  .navbar .nav-item{
      margin-left: 20px;
  }
  .navbar .dropdown-menu{
      background-color: #002b4d;
  }
  .navbar .dropdown-item{
      color: white;
      border-bottom: 0.8px solid white;
  }
  .navbar .dropdown-item:hover{
    background-color: #002b4d;
    color: #e12a21
  }

/* content */
section.container .thumb-1{
    background-image: url('../img/neotech_post_1.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;
}
section.container .thumb-2{
    background-image: url('../img/neotech_post_2.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;
}
section.container .thumb-3{
    background-image: url('../img/neotech_post_3.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;
}
section.container .thumb-btn{
    background-color: #e12a21;
    color: white;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .03em;
    margin-bottom: 3px;
    margin-right: 5px;
    font-weight: 700;
}
section.container .thumb-1-text{
    font-size: 46px;
    margin-top: 10px;
    color: white;
    max-width: 404px;
    font-weight: 700;
}
section.container .thumb-2-text{
    font-size: 36px;
    margin-top: 10px;
    color: white;
    width: 100%;
    font-weight: 700;
    
}
.thumb-2-text-group{
    position: relative;
    z-index: 2;
}
.bottom-gradient {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 70%;
    bottom: 0;
    z-index: 1;
    background: rgba(0,0,0,.7);
    background: linear-gradient(to top,rgba(0,0,0,.7) 0%,transparent 100%);
}

/* News update */

.news-update{
    margin: 70px auto;
}
.news-update .news-update-col{
    border: 5px solid #f4f6f6;
    padding: 28px 24px 30px;
    box-sizing: border-box;
}
.news-update .title{
    text-transform: none;
    letter-spacing: normal;
    color: #3a444d;
    font-weight: 700;
    font-size: 18px;
}
.news-update .subscribe-btn{
    background: linear-gradient(to right,#fb4a64 0%,#f8875f 100%);
    font-size: 16px;
    font-weight: 700;
    padding: 0 29px;
    color: white;
    border-radius: 5px !important;
}
.news-update .input-group-append{
    position: relative;
    left: -3px;
}
.envelop-icon{
    position: absolute;
    top: 7px;
    left: 10px;
    z-index: 8;
}
.news-update .email-input{
    padding: 0px;
    background-color: #f4f6f6;
    padding: 0px 32px;
    font-size: 16px;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}
.news-update .email-input:focus{
    border: 1px solid red;

}
.news-update .form-check-label{
    font-size: 14px;
}
.news-update .privacy-policy{
    color: #e12a21;;
}
.news-update .privacy-policy:hover{
    color: black;
    text-decoration: none;
}


/* recommend  */
 .recommend .recommend-card{
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 250px;
}
.recommend .recommend-img-1{
    background-image: url('../img/neotech_post_1.jpg');
}
.recommend .recommend-img-2{
    background-image: url('../img/neotech_post_2.jpg');
}
.recommend .recommend-img-3{
    background-image: url('../img/neotech_post_3.jpg');
}
.recommend .recommend-img-4{
    background-image: url('../img/neotech_post_4.jpg');
}
.recommend-card-title{
    position: relative;
    z-index: 2;
    color: white;
    font-size: 18px;
    margin-top: 100px;
    font-weight: 700;
}
.recommend .recommend-card::after {
    content: '';
    position: absolute;
    left: 14px;
    width: 90%;
    height: 70%;
    bottom: 0;
    z-index: 1;
    background: rgba(0,0,0,.7);
    background: linear-gradient(to top,rgba(0,0,0,.7) 0%,transparent 100%);
}

/* latest video */
.latest-videos .select-video{
    border: 3px solid #f4f6f6;
    border-left: none;
}
.latest-videos .video-title{
    font-size: 14px;
    margin-top: 3px;
    line-height: 1.3;
    font-weight: 700;
}
.latest-videos .video-rows{
    cursor: pointer !important;
    padding-top: 15px;
    padding-bottom: 15px;
    
}
.videos{
    width:740px; 
    height:429px;
}
.latest-videos .video-rows:hover{
    color: #e12a21 !important ;
    
}

/* Reviews */
.card {
    border: none;
  }
.card .card-body{
    padding-left: 0px !important;
}
.card .cartegory{
    color: #e12a21;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .03em;
    margin-bottom: 3px;
    margin-right: 5px;
    font-weight: 700;
    text-decoration: none;
}
.card .cartegory:hover{
    color: black;
}
.card .title{
    color: black;
    text-decoration: none;
    font-size: 18px;
}
.card .title:hover{
    color: #e12a21;
}
.card .title:active{
    color: black;
}
.card .date{
    color: #908e99;
    font-size: 13px;
}
.card .fa-star{
    color: #fcb419;
}
.card .card-text{
    font-size: 14px;
    color: #49545e;
}
.ads-sec{
    width:728px;
    height:90px;
}

/* footer */
footer{
    background-color: #002b4d;
    color: white;
}
footer .footer-text-1{
    font-size: 14px;
    line-height: 24px;
    color: white;
    margin: 30px 0px;
}
footer .socials a {
    display: inline-block;
    line-height: 34px;
    width: 34px;
    height: 34px;
    color: #fff;
    text-align: center;
    margin-right: 7px;
    margin-bottom: 7px;
    font-size: 15px;
    border-radius: 50%;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.social-facebook {
    background-color: #39599f;
}
.social-twitter {
    background-color: #55acee;
}
.social-instagram {
    background-color: #e1306c;
}
.widget-title {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .03em;
    margin-bottom: 18px;
    font-weight: 700;
}
.tweet-text{
    font-size: 13px;
    line-height: 24px;
}
.tweet-text a {
    color: white;
    text-decoration: underline;
}
.tweet-time a {
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.widget-social{
    color: #55acee;
}
.footer-menu{
    list-style: none;
}
.footer-menu li {
    padding: 10px 0;
    border-width: 0.2px;
    border-bottom: 1px solid #4b4a4a;
    text-transform: capitalize;
    font-size: 14px;
    /* border-bottom: 1px solid #e1e5e6; */
}
.footer-menu li:nth-child(5){
    border-bottom: none;
}
.footer-menu li a{
    color: #fff;
}
.footer-envelop-icon{
    position: absolute;
    top: 32px;
    left: 26px;
    color: black;

    line-height: 40px;
    font-size: 12px;
    color: #919ba3;
    z-index: 8;
}
.footer-email-input{
    padding: 0px;
    background-color: #f4f6f6;
    padding: 0px 32px;
    font-size: 14px;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}
footer .form-check-label{
    font-size: 12px;
}
footer .form-check-input{
    width: 15px;
    height: 15px;
}
footer .form-check-label a{
   color: white;
   text-decoration: none;
}
footer .subscribe-btn{
    background: linear-gradient(to right,#fb4a64 0%,#f8875f 100%);
    font-size: 16px;
    font-weight: 700;
    height: 40px;
    padding: 0 29px;
    color: white;
    border-radius: 5px !important;
}
.copyright {
    color: #9aa3ab;
    font-size: 14px;
}
.copyright a {
    color: #9aa3ab;
}
.copyright a:hover{
    text-decoration: none;
    color: #e12a21;
}
@media only screen and (max-width:767px){
 
    section.container .thumb-1-text{
        font-size: 26px;
        margin-top: 0px;
        margin-bottom: 20px;
        color: white;
        width: 100%;
    }
    section.container .thumb-2-text{
        font-size: 26px;
        margin-top: 0px;
        margin-bottom: 20px;
        width: 100%;
        
    }
    section.container .thumb-1, section.container .thumb-2, section.container .thumb-3{
        height: 300px;
    }
    .news-update{
        margin: 40px auto;
    }
    .news-update .title{
        font-size: 14px;
    }
    .news-update .subscribe-btn{
        font-size: 14px;
        padding: 0 5px;
    }
    .videos{
        width:100%; 
        height:100%;
    }
    .ads-sec{
        width:100%;
        height:90px;
    }
}